[submodule "Packages/Unity-Runtime-GUID"]
	path = Packages/Unity-Runtime-GUID
	url = https://github.com/cjaverliat/Unity-Runtime-GUID.git
[submodule "Packages/ProtoBurst"]
	path = Packages/ProtoBurst
	url = https://github.com/cjaverliat/ProtoBurst.git
